<!-- public/views/admin.html -->

<div class="page-header">
  <h1>Administration</h1>
  <p>{{ tagline }}</p>
</div>  

<div class="container">
  <p>Liste des utilisateurs</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.username}}</strong><br>
        <span class="text-muted">adresse email</span>
        <a ng-click="delete(user._id)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>       
    </li>
  </ul>
</div>

