<!-- public/views/bds.html -->
<div class="jumbotron text-center">
  <h1>Les BDs</h1>
  <p>{{ tagline }}</p>
</div>

<div class="spacer input-group">
	<div class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
	</div>
	<input type="text" ng-model="recherche" class="form-control" placeholder="Rechercher ..."/>
	<div class="input-group-btn">
		<button class="btn btn-default" ng-click="razRecherche()">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
</div>
<br>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th style="width:6%;">Date</th>
      <th style="width:31%;">Titre</th>
      <th style="width:25%;">Scenariste</th>
      <th style="width:25%;">Dessinateur</th>
      <th style="width:4%;">Note</th>
      <th style="width:9%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="bd in bds | filter:recherche">
      <td>{{ bd.date | date:'dd/MM/yyyy'}}</td>
      <td>{{ bd.titre }}</td>
      <td>{{ bd.scenariste }}</td>	  
      <td>{{ bd.dessinateur }}</td>
      <td>{{ bd.note }}</td>
      <td>
        <button type="button" class="btn btn-default" aria-label="Modifier" ng-click="getBd(bd._id)" data-toggle="modal" data-target="#bdModal">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" type="submit" class="btn btn-default" aria-label="Supprimer" ng-click="deleteBd(bd._id)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- FORM TO CREATE BDS -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bdModal" ng_click="newBd()">
  Ajouter une BD
</button>

<!-- Modal -->
<div class="modal fade" id="bdModal" tabindex="-1" role="dialog" aria-labelledby="bdModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bdModalLabel">Fiche BD</h4>
      </div>
      <div class="modal-body">
        <form name="bdForm">
          <div class="form-group">
            
            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
            <input type="text" class="form-control input-lg text-center" placeholder="Titre" ng-model="formData.titre">
            <input type="text" class="form-control input-lg text-center" placeholder="Scenariste" ng-model="formData.scenariste">
            <input type="text" class="form-control input-lg text-center" placeholder="Dessinateur" ng-model="formData.dessinateur">
            <input type="date"  placeholder="Date" class="form-control input-lg text-center" ng-model="dateBd">         
            <input type="number" class="form-control input-lg text-center" placeholder="Note" ng-model="formData.note" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div ng-show="vueBd=='newBd'">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" ng-click="createBd()">Enregistrer</button>
        </div>
        <div ng-show="vueBd=='modifBd'">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" ng-click="updateBd(formData._id)">Mettre à jour</button>
        </div>
      </div>
    </div>
  </div>
</div>
