<!-- public/views/bds.html -->
<div class="jumbotron text-center">
  <h1>Les BDs</h1>
  <p>{{ tagline }}</p>
</div>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th style="width:10%;">Date</th>
      <th style="width:35%;">Titre</th>
      <th style="width:25%;">Scenariste</th>
      <th style="width:25%;">Dessinateur</th>
      <th style="width:5%;">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="bd in bds">
      <td>{{ bd.date | date:'dd/MM/yyyy'}}</td>
      <td>{{ bd.titre }}</td>
      <td>{{ bd.scenariste }}</td>
      <td>{{ bd.dessinateur }}</td>
      <td>{{ bd.note }}</td>
    </tr>
  </tbody>
</table>

<!-- FORM TO CREATE BDS -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bdModal">
  Ajouter une BD
</button>

<!-- Modal -->
<div class="modal fade" id="bdModal" tabindex="-1" role="dialog" aria-labelledby="bdModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bdModalLabel">Fiche BD</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">

            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
            <input type="text" class="form-control input-lg text-center" placeholder="Titre" ng-model="formData.titre">
            <input type="text" class="form-control input-lg text-center" placeholder="Scenariste" ng-model="formData.scenariste">
            <input type="text" class="form-control input-lg text-center" placeholder="Dessinateur" ng-model="formData.dessinateur">
            <input type="date" class="form-control input-lg text-center" placeholder="Date" ng-model="formData.date">
            <input type="number" class="form-control input-lg text-center" placeholder="Note" ng-model="formData.note">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" ng-click="createBd()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
