<!-- public/views/concerts.html -->
<div class="jumbotron text-center">
  <h1>Les Concerts</h1>
  <p>{{ tagline }}</p>
</div>

<div class="spacer input-group">
  <div class="input-group-btn">
  <button class="btn btn-default" data-toggle="modal" data-target="#concertModal" ng_click="newConcert()">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</div>
	<div class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
	</div>
	<input type="text" ng-model="recherche" class="form-control" placeholder="Rechercher ..."/>
	<div class="input-group-btn">
		<button class="btn btn-default" ng-click="razRecherche()">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
</div>

<br>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th style="width:6%;">
        <a ng-click="triConcerts('date')">Date</a>
        <span class="hSpacer" ng-class="cssChevronsTri('date')"></span>
      </th>
      <th style="width:31%;">Artiste</th>
      <th style="width:25%;">Avec</th>
      <th style="width:25%;">Salle</th>
      <th style="width:6%;">
        <a ng-click="triConcerts('note')">Note</a>
        <span class="hSpacer" ng-class="cssChevronsTri('note')"></span>
      </th>
      <th style="width:6%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="concert in concerts | filter:recherche | orderBy:champTri:triDescendant">
      <td>{{ concert.date | date:'dd/MM/yyyy'}}</td>
      <td>{{ concert.artiste }}</td>
      <td>{{ concert.avec }}</td>	  
      <td>{{ concert.salle }}</td>
      <td>{{ concert.note }}</td>
      <td>
        <button type="button" class="btn btn-xs btn-default" aria-label="Modifier" ng-click="getConcert(concert._id)" data-toggle="modal" data-target="#concertModal">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" type="submit" class="btn btn-xs btn-default" aria-label="Supprimer" ng-click="deleteConcert(concert._id)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- FORM TO CREATE CONCERTS -->

<!-- Modal -->
<div class="modal fade" id="concertModal" tabindex="-1" role="dialog" aria-labelledby="concertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="concertModalLabel">Fiche Concert</h4>
      </div>
      <div class="modal-body">
        <form name="concertForm">
          <div class="form-group">
            
            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
            <input type="text" class="form-control input-lg text-center" placeholder="Artiste" ng-model="formData.artiste">
            <input type="text" class="form-control input-lg text-center" placeholder="Avec" ng-model="formData.avec">
            <input type="text" class="form-control input-lg text-center" placeholder="Salle" ng-model="formData.salle">
            <div class="form-inline">
              <select class="form-control input-lg" ng-model="formData.dayId">
                <option ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" value="{{n}}" ng-selected="n == formData.dayId">{{n}}</option>
              </select>
              <select class="form-control input-lg" ng-model="formData.monthId">
                <option ng-repeat="month in months" value="{{month.MonthId}}" ng-selected="month.MonthId == formData.monthId">{{month.MonthName}}</option>
              </select>
              <select class="form-control input-lg" ng-model="formData.yearId">
                <option ng-repeat="year in years" value="{{year.YearId}}" ng-selected="year.YearId == formData.yearId">{{year.YearName}}</option>
              </select>
            </div>            
            <input type="number" class="form-control input-lg text-center" placeholder="Note" ng-model="formData.note" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div ng-show="vueConcert=='newConcert'">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" ng-click="createConcert()">Enregistrer</button>
        </div>
        <div ng-show="vueConcert=='modifConcert'">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" ng-click="updateConcert(formData._id)">Mettre à jour</button>
        </div>
      </div>
    </div>
  </div>
</div>
