<!-- public/views/films.html -->
<div class="page-header">
  <h1>Les Films</h1>
  <p>{{ tagline }}</p>
</div>

<div class="spacer input-group">
  <div ng-show="isAdmin()" class="input-group-btn">
  <a class = "btn btn-default" href = "formfilm" role = "button"><span class="glyphicon glyphicon-plus"></span></a>
</div>
  <div class="input-group-addon">
    <span class="glyphicon glyphicon-search"></span>
  </div>
  <input type="text" ng-model="recherche" class="form-control" placeholder="Rechercher ..."/>
  <div class="input-group-btn">
    <button class="btn btn-default" ng-click="razRecherche()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>

<br>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th style="width:6%;">
        <a ng-click="triFilms('date')">Date</a>
        <span class="hSpacer" ng-class="cssChevronsTri('date')"></span>
      </th>
      <th style="width:41%;">Titre</th>
      <th style="width:35%;">Réalisateur</th>
      <th style="width:5%;">Ciné</th>
      <th style="width:6%;">
        <a ng-click="triFilms('note')">Note</a>
        <span class="hSpacer" ng-class="cssChevronsTri('note')"></span>
      </th>
      <th ng-show="isAdmin()" style="width:7%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="film in films | filter:recherche | orderBy:champTri:triDescendant">
      <td>{{ film.date | date:'dd/MM/yyyy'}}</td>
      <td>{{ film.titre }}</td>
      <td>{{ film.realisateur }}</td>
      <td align="center">
        <div ng-if="film.cine==true">
          <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
        </div>
        <div ng-if="film.cine!=true">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </div>
      </td>
      <td align="center">{{ film.note }}</td>
      <td ng-show="isAdmin()" align="center">
        <a class = "btn btn-xs btn-default"  aria-label="Modifier" href = "formfilm/?id={{film._id}}" role = "button"><span class="glyphicon glyphicon-pencil"></span></a>
        <button type="button" type="submit" class="btn btn-xs btn-default" aria-label="Supprimer" ng-click="deleteFilm(film._id)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
