<!-- public/views/home.html -->
<!--
<div class="page-header">
      <h1>Accueil</h1>
	  <p>{{ tagline }}</p>
</div>
-->	
<div class="jumbotron text-center">
    <div class="container">
      <div class="row">
          <h1>Moleskine</h1>
          <p>{{ tagline }}</p>          
      </div>
    </div> 
</div>

<!--
<div class="row">
	<div class="col-md-3">
		<div class="list-group">
			<a href="/films" class="list-group-item">
				<span class="glyphicon glyphicon-film"></span> Films <span class="badge">{{films.length}}</span>
			</a>
			<a href="/bds" class="list-group-item">
				<span class="glyphicon glyphicon-pencil"></span> BDs <span class="badge">{{bds.length}}</span>
			</a>
			<a href="/concerts" class="list-group-item">
				<span class="glyphicon glyphicon-music"></span> Concerts <span class="badge">{{concerts.length}}</span>
			</a>
			<a href="/books" class="list-group-item">
				<span class="glyphicon glyphicon-book"></span> Livres <span class="badge">{{books.length}}</span>
			</a>
		</div>
	</div>
	<div class="col-md-6">
		<ul class="list-group" >
			<li class="list-group-item header disabled">Mes derniers films</li>
			<li class="list-group-item" ng-repeat="film in films | orderBy:'-date' | limitTo:3">
				{{film.titre}} - {{film.realisateur}}
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item header disabled">Mes derniers livres</li>
			<li class="list-group-item" ng-repeat="book in books | orderBy:'-date' | limitTo:3">
				{{book.titre}} - {{book.auteur}}
			</li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-group">
			<li class="list-group-item header disabled">Mes dernières BDs</li>
			<li class="list-group-item" ng-repeat="bd in bds | orderBy:'-date' | limitTo:3">
				{{bd.titre}}
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item header disabled">Mes derniers concerts</li>
			<li class="list-group-item" ng-repeat="concert in concerts | orderBy:'-date' | limitTo:3">
				{{concert.artiste}}
			</li>
		</ul>
	</div>
</div>
-->
<div>
   <div class="container">
    <div class="row centered">
     <div class="col-md-3">
		<p class="text-center">
	  		<i class="glyphicon glyphicon-film" style="font-size: 30px;"></i>
		</p>
      <h4 class="text-center">Films</h4>
      <p>Les films que j'ai regardés depuis quelques années, au cinéma ou à la télévision</p>
      <p class="text-center"><br/>	 	  	  
	  	<a class="btn btn-primary" type="button" href="/films">
			Films <span class="badge">{{films.length}}</span></a>
		</p>
     </div>
     <div class="col-md-3">
		<p class="text-center">
	  		<i class="glyphicon glyphicon-music" style="font-size: 30px;"></i>
		</p>
       <h4 class="text-center">Concerts</h4>
       <p>Les concerts que j'ai vus depuis 2009 à Lyon ou ailleurs. </p>
      <p class="text-center"><br/><br/>
	  	<a class="btn btn-primary" type="button" href="/concerts">
			Concerts <span class="badge">{{concerts.length}}</span></a>
		</p>
      </div>
      <div class="col-md-3">
		<p class="text-center">
	  		<i class="glyphicon glyphicon-book" style="font-size: 30px;"></i>
		</p>
       <h4 class="text-center">Livres</h4>
       <p>Les livres que j'ai lus depuis quelques années.</p>
	   <p class="text-center"><br/><br/>
	  	<a class="btn btn-primary" type="button" href="/books">
			Livres <span class="badge">{{books.length}}</span></a>
		</p>
      </div>
      <div class="col-md-3">
		<p class="text-center">
	  		<i class="glyphicon glyphicon-pencil" style="font-size: 30px;"></i>
		</p>		  
       <h4 class="text-center">BDs</h4>
       <p>Les BDs que j'ai lues depuis le début de l'année 2014. Et oui, j'ai attendu un peu pour m'y mettre !</p>
	   <p class="text-center"><br/>
       	 <a class="btn btn-primary" type="button" href="/bds">
			BDs <span class="badge">{{bds.length}}</span></a>
		</p>
      </div>	  
    </div>
   </div>
  </div>
