<!-- public/views/home.html -->

<div class="jumbotron text-center">
  <h1>Accueil Moleskine</h1>
  <p>{{ tagline }}</p>
</div>  
<div class="list-group">
	<a href="/films" class="list-group-item">
        <span class="glyphicon glyphicon-film"></span> Films <span class="badge">{{films.length}}</span>
    </a>
    <a href="/bds" class="list-group-item">
        <span class="glyphicon glyphicon-pencil"></span> BDs <span class="badge">{{bds.length}}</span>
    </a>
    <a href="/concerts" class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> Concerts <span class="badge">{{concerts.length}}</span>
    </a>
    <a href="/books" class="list-group-item">
        <span class="glyphicon glyphicon-book"></span> Livres <span class="badge">{{books.length}}</span>
    </a>
</div>
