html,
body {
  height: 100%;
  background-color : #E9E1E7;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #A8A8A1;

}

/* set the navbar properties */

.navbar-default {
    color: #FFFFFF;
    background-color: #242B4B;
}

.jumbotron {
  background-color: #D3B8A0;
  color : #78808A;
}

.btn-primary {
  background-color: #b26c60;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
.list-group {
  background-color: #bcd;
  border-radius: 8px;
  padding-bottom: 5px;
}
.list-group-item.header{
  color: #048;
  background-color: #abc;
  border-radius: 8px;
}
